apiVersion: v1
kind: ConfigMap
metadata:
  name: {{configmap_name}}
  labels:
    app: {{label}}
data:
{%- for key, value in properties.items() %}
  {{key}}: {{value}}
{%- endfor %}
---
apiVersion: v1
kind: Service
metadata:
  name: {{service_name}}
  labels:
    app: {{label}}
spec:
  type: NodePort
  ports:
  - port: {{port}}
  selector:
    app: {{label}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{deployment_name}}
  labels:
    app: {{label}}
spec:
  replicas: {{replicas}}
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: {{label}}
  template:
    metadata:
      annotations:
        configmap: {{configmap_annotation}}
      labels:
        app: {{label}}
    spec:
      containers:
        - name: {{container_name}}
          image: {{image}}
          ports:
          - containerPort: {{port}}
          env:
          - name: KAFKA_REST_ID
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          envFrom:
          - configMapRef:
              name: {{configmap_name}}
          livenessProbe:
            httpGet:
              path: /
              port: {{port}}
            initialDelaySeconds: 3
            periodSeconds: 10
